html,
body {
    margin: 0px;
    height: 100%;
}

.body__container {
    margin: 0px;
    height: 100%;
}

.body__container__button-class {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 80px;
}

.body__container__button-class__button {
    background-color: lightblue;
    position: absolute;
    height: inherit;
    width: inherit;
    margin: 0px;
}

.body__container__button-class__button__text {
    position: relative;
    top: 50px;
}
