.container body {
    height: 100px;
    position: relative;
}

.button-class {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.button-class button {
    background-color: lightblue;
}